@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #12181b;
    font-family: "Montserrat", sans-serif;
}

main {
    background-color: #12181b;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 384px;
    max-width: 100%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-size: 24px;
}

p {
    font-size: 14px;
    color: #b2becd;
}

a {
    margin: 15px 0;
    color: orange;
    font-size: 14px;
    text-decoration: none;
}

button {
    border-radius: 5px;
    background-color: #3e73ce;
    color: #ffffff;
    border: none;
    margin: 8px 0;
    padding: 12px 45px;
    width: 100%;
    letter-spacing: 1px;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 80%;
    text-align: center;
    width: 100%;
}

input {
    background-color: #2a2e35;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    color: white;
}

input:focus {
    outline: none;
}

header {
    border-bottom: 2px dashed #333;
}

footer {
    border-top: 2px dashed #333;
}

.stripe {
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-invalid {
    border: 1px solid orangered;
}

.invalid-feedback {
    color: orange;
    align-self: flex-start;
    margin-top: 8px;
    font-size: 12px;
}
