/* Files */

.btn-hover {
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-hover:hover {
    color: white;
    background-color: #dc3545;
}

/* Gallery */

.gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 120px;
    justify-items: center;
}

.thumbnail {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    max-width: 150.5px;
    object-fit: cover;
    display: block;
    margin: auto;
    cursor: pointer;
}

.image-container {
    max-height: 120px;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.image-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background-color: #212529;
    color: red;
    opacity: 15%;
    transition-duration: 0.4s;
    border-radius: 0 0 0 50%;
    cursor: pointer;
    z-index: 2;
}

.image-button:hover {
    opacity: 100%;
}

/* Modal */

* {
    scrollbar-width: thin;
    scrollbar-color: #00a4eb #0e2f3c;
}

*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

*::-webkit-scrollbar-track {
    background-color: #0e2f3c;
}

*::-webkit-scrollbar-thumb {
    background-color: #00a4eb;
}

.preview-container {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
    max-height: calc(100vh - 170px);
    height: calc(100vh - 170px);
}

.preview-image {
    position: relative;
    z-index: 2;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.roll-thumbnail {
    position: relative;
    z-index: 2;
    min-width: 50px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    cursor: pointer;
    opacity: 50%;
    border-radius: 5px;
    margin: .4rem;
}

.roll-thumbnail:first-child {
    margin: .4rem .4rem .4rem 0;
}

.roll-thumbnail:last-child {
    margin: .4rem 0 .4rem .4rem;
}

.thumbnail-roll > .active {
    opacity: 100%;
}

.thumbnail-roll {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 auto;
}

.modal-buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 3rem;
    width: 100%;
    background-color: #212529;
    opacity: 85%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.modal-button {
    font-size: 1rem;
    margin: auto 0.2rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px) grayscale(50%);
    width: 100%;
    height: 100%;
}

/* Ticket */

.input-group-sm {
    min-width: 44px;
}

/* Media queries */

@media screen and (max-width: 576px) {
    .preview-container {
        max-height: calc(100vh - 160px);
        height: calc(100vh - 160px);
    }

    .modal-buttons {
        justify-content: space-between;
    }
}

@media screen and (max-width: 960px) {
    .image-button {
        opacity: 100%;
    }
}
